.color-Texto{
  color: #ffffff;
  font-size: 25px;
  font-family: cursive;
}

.color-Texto2{
  color: #000000;
  font-size: 25px;
  font-family: cursive;
}

.cambio-btn:hover{
  background-color: red;
  color: black;
}
